<app-navbar></app-navbar>
<lib-toastify-toast-container></lib-toastify-toast-container>
<section>
    <div class="content">
        <div class="container pt-5">
            <h1 class="pageHeader text-center text-lg-start mb-4">Для спонсоров</h1>
            <div class="row">
                <div class="col-12 col-md-4">
                    <img src="assets\images\sponsorKaspi.png" alt="Sponsor Kaspi Image" class="sponsorKaspiImage">
                </div>
                <div class="col-12 col-md-7 h-100 mt-md-4">
                    <div class="mt-4">
                        <img src="assets\images\sponsorInfoImage.png" alt="Sponsor Info Image" class="sponsorInfoImage">
                        <div class="sponsorInfoText">
                            <h5 style="font-weight: bold;" class="sponsorInfoTitle">Реквизиты:</h5>
                            <p class="sponsorInfoP">Общественное объединение «ALEM MEDICUS»</p>
                            <p class="sponsorInfoP">БИН 210 640 007 666</p>
                            <p class="sponsorInfoP">ИИК KZ97 998C TB00 0103 1046</p>
                            <p class="sponsorInfoP">АО «Jysan Bank»</p>
                            <p class="sponsorInfoP">БИК TSESKZKA</p>
                            <p class="sponsorInfoP">КНП 119</p>
                            <p class="sponsorInfoP">КБе 16</p>
                            <p class="sponsorInfoP">Адрес: г. Алматы, 050022, Алмалинский район, ул. Курмангазы 111, офис № 212 </p>
                            <p class="sponsorInfoP">Тел.: 87012124400</p>
                            <p class="sponsorInfoP">e-mail: alem.medicus@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>