<app-admin-navbar (newsDataEnabled)="newDataPageToggle()" (studentsDataEnabled)="studentsDataPageToggle()"></app-admin-navbar>
<lib-toastify-toast-container></lib-toastify-toast-container>
<div class="container mt-5">
    <div>
        <div class="row">
            <div>
                <button class="btn btn-outline-warning logOutButton" (click)="logOut()">Log out</button>
            </div>
            <h3 class="col-md-1 col-6 adminHeader">Новости</h3>
            <button class="col-md-2 col-6 ms-4 createNewsButton" (click)="createNewsPage()">Создать новость</button>
        </div>
        <div class="row mt-3">
            <div class="col-md-1 col-6"  style="cursor: pointer;" [ngStyle]="{'border-bottom' : activeLinkToggled ? '2px solid #00B0B9' : 'none'}" (click)="toggleActiveLink()">
                <h5 class="link" [ngStyle]="{'color' : activeLinkToggled ? '#00B0B9' : '#2D3540'}">Активные</h5>
            </div>
            <div class="col-md-1 col-6" style="cursor: pointer;" [ngStyle]="{'border-bottom' : archiveLinkToggled ? '2px solid #00B0B9' : 'none'}" (click)="toggleArchiveLink()">
                <h5 class="link" [ngStyle]="{'color' : archiveLinkToggled ? '#00B0B9': '#2D3540'}">В архиве</h5>
            </div>
        </div>
        <div class="mt-3">
            <input type="text" placeholder="Search" class="searchInput">
            <img src="assets\images\searchIcon.png" alt="Search Icon" class="inputIcon">
        </div>
        <div class="mt-5" *ngIf="newsDataPageEnabled">
            <app-news-table *ngIf="activeLinkToggled"></app-news-table>
            <app-archive-table *ngIf="archiveLinkToggled"></app-archive-table>
        </div>
        <div class="mt-5" *ngIf="studentsDataPageEnabled">
            <div>
                <img src="assets\images\exportExcelButton.png" alt="Export Excel Button" (click)="exportStudentDataAsExcel()" class="exportExcelButton">
            </div>
            <app-students-table></app-students-table>
        </div>
    </div>
</div>