<app-navbar></app-navbar>
<lib-toastify-toast-container></lib-toastify-toast-container>
<section>
    <div class="content">
      <div class="container pt-5">
        <lib-toastify-toast-container></lib-toastify-toast-container>
        <h1 class="pageHeader text-center text-lg-start mb-4">Новости</h1>
        <div class="row">
          <div class="col-md-9 col-sm-8 col-xs-12 parent">
            <div>
              <!-- <img src="assets\images\pexels-pixabay-356040.png" alt="White shirt Man" class="img-fluid">
              <p class="newsImageType">CONFERENCE</p>
              <p class="newsImageTitle">Прошла встреча медиков в Астане</p>
              <button class="newsImageButton">Читать подробнее</button> -->
              <app-carousel-pause></app-carousel-pause>
            </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="newsContainer">
              <app-news-item imagePath="assets\images\pexels-jonathan-meyer-668298.png" newsTitle="News Title Lorem Ipsum Dolor Sit Amet" uploadTime="1 Hour"></app-news-item>
              <app-news-item imagePath="assets\images\pexels-anna-shvets-3844581.png" newsTitle="News Title number 2 Lorem Ipsum Dolor Sit Amet" uploadTime="30 Minutes"></app-news-item>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-8 col-xs-12">
            <div class="contacts">
              <h4 class="contactTitle">Контакты для связи:</h4>
              <p class="contactNumber">Телефон: +7 777 77 77</p>
              <p class="contactEmail">Почта: alem@medicus.kz</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-8 col-xs-12">
            <div class="socialMedia">
              <h4 class="contactTitle">Следите за нами</h4>
              <div class="socialIcons">
                <a href="#"><img src="assets\images\instagram.png" alt="Instagram" class="socialIcon"></a>
                <a href="#"><img src="assets\images\whatssapp.png" alt="WhatsApp" class="socialIcon"></a>
                <a href="#"><img src="assets\images\youtube.png" alt="Youtube" class="socialIcon"></a>
                <a href="#"><img src="assets\images\telegram.png" alt="Telegram" class="socialIcon"></a>
              </div>  
            </div>
          </div>
          <div class="col-md-3 col-sm-8 col-xs-12">
            <div class="donate">
              <h4 class="contactTitle">Стать Донором</h4>
              <button class="donateButton">Пожертвовать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

