<app-navbar></app-navbar>
<lib-toastify-toast-container></lib-toastify-toast-container>
<section>
    <div class="content">
        <div class="container pt-2">
            <h1 class="pageHeader text-center text-lg-start mb-4">О нас</h1>
            <div class="row">
                <div class="col-12 col-md-3 aboutUsContainer">
                    <img src="assets\images\aboutUsImage.png" alt="About Us Image" class="aboutUsImage">
                </div>
                <div class="col-12 col-md-8 ourMissionContainer">
                    <h3 class="aboutUsTitle">Alem Medicus - Болашақ Қазақстанның дәрігерлерін жетілдіріп, даярлайтын жоба</h3>
                    <br>
                    <div class="">
                        <h4 class="ourMissionTitle">‌Жобаның миссиясы</h4>
                        <p class="ourMissionText">Кәсіби маман, жан-жақты дамыған, адами әрі ұлттық құндылықтарды бойына сіңірген, бәсекеге қабілетті тұлға жетілдіру.</p>
                    </div>
                    <div>
                        <h4 class="ourMissionTitle">Жобаның мақсаты</h4>
                        <p class="ourMissionText">Болашақ медицина мамандарының білімдерін арттыруға, біліктіліктерін шыңдауға үлес қосу, айлық стипендия тағайындау арқылы қолдау көрсету.</p>
                    </div>
                </div>
                <div class="ourMissionContainer">
                    <h4 class="differenceTitle">Жобаның ерекшеліктері</h4>
                    <br class="hidden">
                    <br class="hidden">
                    <div class="row justify-content-around">
                        <div class="col-12 col-md-3">
                            <div class="frameContainer">
                                <img src="assets\images\Frame 69.png" alt="Frame" class="frame">
                                <p class="frameText">40 000-60 000 теңге көлеміндегі
                                    айлық стипендия</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="frameContainer">
                                <img src="assets\images\Frame 67.png" alt="Frame" class="frame">
                                <p class="frameText">Ағылшын тілі курстары</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="frameContainer">
                                <img src="assets\images\Frame 127.png" alt="Frame" class="frame">
                                <p class="frameText">Бағыт-бағдар беруші
                                    ментормен жұмыс жасау</p>
                            </div>
                        </div>
                    </div>
                    <div class="row secondFrameContainer">
                        <div class="col-12 col-md-6">
                            <div class="frameContainer2">
                                <img src="assets\images\Frame 86.png" alt="Frame" class="bigFrame">
                                <p class="frameText">Оқу және тәжірибе алмасу
                                бағдарламалары</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="frameContainer2">
                                <img src="assets\images\Frame 83.png" alt="Frame" class="bigFrame">
                                <p class="frameText" style="width: 300px;">Мотивациялық
                                    семинар-тренингтер</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ourMissionContainer">
                    <h4 class="differenceTitle" style="font-size: 36px; font-weight: 700;">FAQ</h4>
                    <div class="row mt-3">
                        <div class="col-12 collapseContainer">
                            <nz-collapse style="border-radius: 30px;">
                                <nz-collapse-panel
                                  nzHeader="Жобаға кім қатыса алады?">
                                  <p style="margin:0;" class="collapseText">
                                    Жобаға медицина мамандығында оқып жүрген, GPA баллы 3.3-ден жоғары болған, ынталы әрі белсенді студенттер қатыса алады.
                                  </p>
                                </nz-collapse-panel>
                              </nz-collapse>
                              <br>
                              <nz-collapse style="border-radius: 30px;">
                                <nz-collapse-panel
                                  nzHeader="Қазақстанның басқа өңірінде медицина саласында оқитын студенттер жобаға қатыса алады ма?
                                  ">
                                  <p style="margin:0;" class="collapseText">
                                    Жоқ, әзірге тек Алматы қаласының студенттері қатыса алады. Алдағы уақытта Қазақстанның өзге қалаларында филиалдар ашу жоспарымызда бар.                                  </p>
                                </nz-collapse-panel>
                              </nz-collapse>
                              <br>
                              <nz-collapse style="border-radius: 30px;">
                                <nz-collapse-panel
                                  nzHeader="Мен медициналық университетте келісім-шарт бөлімінде оқып жүріп осы жобаның стипендиаты бола аламын ба?

                                  ">
                                  <p style="margin:0;" class="collapseText">
                                    Әрине, грантта оқитын студенттер мен келісім-шарт бөлімінде оқитын студенттердің мүмкіндіктері бірдей.
                                </nz-collapse-panel>
                              </nz-collapse>
                              <br>
                              <nz-collapse style="border-radius: 30px;">
                                <nz-collapse-panel
                                  nzHeader="Айлық стипендия мөлшері қанша?
                                  ">
                                  <p style="margin:0;" class="collapseText">
                                    2022-2023 оқу жылына арналған ең төменгі айлық стипендия 40 000 теңгені құраса, ең жоғарғы айлық стипендия 60 000 теңгені құрайды                                </nz-collapse-panel>
                              </nz-collapse>
                              <br>
                              <nz-collapse style="border-radius: 30px;">
                                <nz-collapse-panel
                                  nzHeader="Жоба авторы кім?
                                  ">
                                  <p style="margin:0;" class="collapseText">
                                    Алматы қаласы дәрігерлерінің бастамасымен құрылған әлеуметтік жоба.                                </nz-collapse-panel>
                              </nz-collapse>
                              <br>
                              <nz-collapse style="border-radius: 30px;">
                                <nz-collapse-panel
                                  nzHeader="Жоба демеушісі кім?
                                  ">
                                  <p style="margin:0;" class="collapseText">
                                    Алматы қаласының орта және шағын буынды кәсіпкерлері.                                </nz-collapse-panel>
                              </nz-collapse>
                              <br>
                              <nz-collapse style="border-radius: 30px;">
                                <nz-collapse-panel
                                  nzHeader="Жобаға қалай тіркеледі?
                                  ">
                                  <p style="margin:0;" class="collapseText">
                                    Жобаға alemmedicus.kz сайты немесе telegramm-ның «alem medicus bot» арқылы арқылы тіркелуге болады.
                                </nz-collapse-panel>
                              </nz-collapse>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>