section {
    background: #382E59;
}

.content {
    border-radius: 60px 60px 0 0;
    background: linear-gradient(to right, #E2E1FF, #90A3BF);;
}


.parent {
    position: relative;
}



.pageHeader {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #303030; 
}

.pageHeaderContainer {
    display: flex;
    height: 100px;
    padding-left: 50px;
    padding-top: 30px;
}

/* .newsContainer {
    position: relative;
    display: flex;
    margin-left: 50px;
}


@media (min-width:1600px) {
    .newsContainer {
        margin-left: 18vw;
    }
} */


body {
    background: linear-gradient(to bottom, var(--primary), var(--secondary));
}

@media (min-width: 992px) {
    .ms-md-8 {
        margin-left: 8rem !important;
    }
}