/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 */



 /* :root {
    --primary: #E2E1FF;
    --secondary: #90A3BF;
} */

section {
    background: #382E59;
}

.content {
    border-radius: 60px 60px 0 0;
    background: linear-gradient(to right, #E2E1FF, #90A3BF);;
}


.parent {
    position: relative;
}



.pageHeader {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #303030; 
}

.pageHeaderContainer {
    display: flex;
    height: 100px;
    padding-left: 50px;
    padding-top: 30px;
}

/* .newsContainer {
    position: relative;
    display: flex;
    margin-left: 50px;
}


@media (min-width:1600px) {
    .newsContainer {
        margin-left: 18vw;
    }
} */

.newsContainer {
    display: inline-block;
    background-color: white;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .newsContainer {
        display: flex;
        justify-content: space-between;
    }
    .newsContainer {
        padding: 0 20px;
    }
}

.newsImageType {
    position: absolute;
    bottom: 170px;
    color: white;
    left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
    .newsImageType {
        bottom: 50px;
        font-size: 8px;
        left: 20px;
    }
}


.newsImageTitle {
    position: absolute;
    bottom: 110px;
    left: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: white;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .newsImageTitle {
        bottom: 18px;
        font-size: 15px;
        left: 20px;
    }
}


.newsImageButton {
    position: absolute;
    bottom: 50px;
    left: 30px;
    border: 2px solid #00B0B9;
    border-radius: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 245px;
    height: 59px;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
}

@media only screen and (max-width: 600px) {
    .newsImageButton {
        height: 30px;
        width: 150px;
        left: 20px;
        bottom: 10px;
        font-size: 10px;
        
    }
}


.secondaryNews {
    background-color: white;
    border-radius: 25px;
    margin-left: 50px;
    height: 625px;
    width: 318px;
}

.contactContainer {
    display: flex;
    height: 250px;
    margin-left: 50px;
    width: 88vw;
    justify-content: space-evenly;
}

@media (min-width:1600px) {
    .contactContainer {
        justify-content: center;
    }
    .contacts {
        margin-right: 20px;
    }
    .socialMedia {
        margin-right: 20px;
    }
    .pageHeader {
        margin-left: 16vw;
    }

}


.contacts {
    top: 0;
    position: relative;
    left: 0;
    width: 430px;
    height: 170px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 170%);
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
    border-radius: 30px;
    position: relative;
    transition: top ease 0.5s;
}

@media only screen and (max-width: 600px) {
    .contacts {
        width: 100%;
        height: 120px;
    }
}

.contacts:hover {
    top: -10px;
}

.contactTitle {
    position: absolute;
    width: 275px;
    height: 39px;
    left: 30px;
    top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #303030;
}

.contactNumber {
    position: absolute;
    width: 217px;
    height: 30px;
    left: 30px;
    top: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #303030;
}

.contactEmail {
    position: absolute;
    width: 217px;
    height: 30px;
    left: 30px;
    top: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #303030;
}

.socialMedia {
    margin-left: 25px;
    width: 430px;
    height: 170px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 170%);
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
    border-radius: 30px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

@media only screen and (max-width: 600px) {
    .socialMedia {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        height: 120px;
    }
    .socialIcon {
        height: 65px;
    }
    .contactTitle {
        top: 5px;
    }
}

.socialMedia:hover {
    top: -10px;
}

.socialIcons {
    position: absolute;
    top: 70px;
    left: 10px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .socialIcons {
        top: 40px;
        left: 20px;
    }
}

.donate {
    position: relative;
    margin-left: 100px;
    width: 320px;
    height: 170px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 160%);
    filter: drop-shadow(0px 5px 30px rgba(0, 0, 0, 0.1));
    border-radius: 30px;
    position: relative;
    top: 0;
    right: 0;
    transition: top ease 0.5s;
}

@media only screen and (max-width: 600px) {
    .donate {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
        height: 120px;
    }
}

.donate:hover {
    top: -10px;
}

.donateButton {
    background: #00B0B9;
    border: 1px solid #00B0B9;
    border-radius: 30px;
    padding: 13px 24px;
    gap: 10px;
    color: white;
    position: absolute;
    width: 191px;
    height: 59px;
    left: 50px;
    top: 80px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;

}

@media only screen and (max-width: 600px) {
    .donateButton {
        top: 45px;
        left: 20px;
    }
}

body {
    background: linear-gradient(to bottom, var(--primary), var(--secondary));
}

@media (min-width: 992px) {
    .ms-md-8 {
        margin-left: 8rem !important;
    }
}