
@media only screen and (max-width: 600px) {
    .hidden {
        display: none !important;
    }
}

.formInputContainer {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .formInputContainer {
        display: block;
        text-align: center;
    }
    .formInputContainer * {
        padding-top: 10px;
    }
}

.formProgressImageContainer {
    position: relative;
    top: 25px;
    left: 30%;
    display: flex;
    text-align: center;
    width: 260px;
}

@media only screen and (max-width: 600px) {
    .formProgressImageContainer {
        left: 15%;
    }
}

.progressBar {
    margin: auto;
}

.inputLabel {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #303030;
    margin-bottom: -1px;
    width: 290px;
}

@media only screen and (max-width: 600px) {
    .inputLabel {
        margin: auto;
        text-align: left;
    }
}

.inputBox {
    width: 300px;
    height: 52px;
    left: 36px;
    top: 129px;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    padding-left: 10px;
}

.countryCode {
    flex-direction: row;
    align-items: center;
    padding: 4px;
    width: 55px;
    height: 40px;
    background: #EDF5F4;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.phoneNumber {
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 268px;
    height: 40px;
    background: #EDF5F4;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 1;
    margin-left: 5px;
}

.dateInput {
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 320px;
    height: 40px;
    background: #EDF5F4;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 1;
}

nz-select {
    width: 300px;
    height: 52px;
    border-radius: 10px;
    padding-top: 10px;    
}

nz-upload {
    width: 300px;
    height: 52px;
    border-radius: 10px;
    padding-top: 10px;
}

.uploadFileText {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    align-items: center;
    color: #00B0B9;
}

.continueButton {
    position: relative;
    width: 198px;
    height: 50px;
    top: 150px;
    left: 239px;
    background: #00B0B9;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.disabledContinueButton {
    position: relative;
    width: 198px;
    height: 50px;
    left: 239px;
    top: 200px;
    background: #00B0B9;
    opacity: 0.4;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .continueButton {
        left: 90px;
        top: 70px;
    }
    .disabledContinueButton {
        left: 90px;
        top: 70px;
    }
}

.goBackLink {
    position: relative;
    top: 160px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    text-decoration-line: underline;
    color: #00B0B9;
    cursor: pointer;
}

.socialStatus {
    margin-top: 50px;
    margin-left: 16px;
}

.essay {
    margin-top: 25px;
    margin-left: 16px;
}

@media only screen and (max-width: 600px) {
    .socialStatus {
        display: block;
        text-align: center;
        margin-left: 0;
    }
    .socialStatus * {
        padding-top: 10px;
    }
    .essay {
        display: block;
        text-align: center;
        margin-left: 0;
    }
    .goBackLink {
        top: 80px;
    }
}

.submitStudentFormButton {
    position: relative;
    width: 198px;
    height: 50px;
    top: 10px;
    left: 239px;
    background: #00B0B9;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .submitStudentFormButton {
        left: 90px;
        top: 10px;
    }
}