<form nz-form>
    <!-- Student Form Page 1 Begin -->
    <div class="formProgressImageContainer">
        <img src="assets\images\formPage1Active.png" alt="Form Progress" class="progressBar">
        <img src="assets\images\formInput2Disabled.png" alt="Form Progress" class="progressBar">
        <img src="assets\images\formInputRectangle.png" alt="Form Progess" class="progressBar">
        <img src="assets\images\formInput2Disabled.png" alt="Form Progress" class="progressBar">
    </div>

    <div class="formInputContainer">
        <div>
            <p class="inputLabel">Аты <span style="color: red;">*</span></p>
            <input type="text" name="firstName" id="firstName" class="inputBox" placeholder="Атыңызды жазыңыз" [(ngModel)]="firstName">
        </div>
        <div>
            <p class="inputLabel">Тегі <span style="color: red;">*</span></p>
            <input type="text" name="lastName" id="lastName" class="inputBox" placeholder="Тегіңізді жазыңыз" [(ngModel)]="lastName">
        </div>
    </div>
    <br class="hidden">
    <div class="formInputContainer">
        <div>
            <p class="inputLabel">Әкесінің аты <span style="color: red;">*</span></p>
            <input type="text" name="fatherName" id="fatherName" class="inputBox" placeholder="Әкеңіздің атын жазыңыз" [(ngModel)]="fatherName">
        </div>
        <div>
            <p class="inputLabel">Жынысы <span style="color: red;">*</span></p>
                <nz-select
            [(ngModel)]="gender"
            nzPlaceHolder="Select users"
            nzAllowClear
            name="gender"
            >
            <nz-option *ngFor="let gender of genders" [nzValue]="gender.value" [nzLabel]="gender.label"></nz-option>
            </nz-select>
        </div>
    </div>
    <br class="hidden">
    <div class="formInputContainer">
        <div>
            <p class="inputLabel">ИИН <span style="color: red;">*</span></p>
            <input type="text" name="iin" id="iin" class="inputBox" placeholder="ЖСН нөміріңізді жазыңыз" [(ngModel)]="iin">
        </div>
        <div>
            <p class="inputLabel">Жеке куәлігіңіздің суреті</p>
            <div class="inputBox">
                <nz-upload
            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
            [nzHeaders]="{ authorization: 'authorization-text' }"
            (nzChange)="handleChange($event)"
            >
            <div style="padding-top: 10px;"><img src="assets\images\select-file.png" alt="Upload File"><span class="uploadFileText">файлды жүктеу</span></div>
            </nz-upload>
            </div>
        </div>
    </div>
    <!-- Student Form Page 1 End  -->
</form>