<app-navbar></app-navbar>
<lib-toastify-toast-container></lib-toastify-toast-container>
<section>
    <div class="content">
        <div class="container pt-5" style="height: 100vh;">
            <div class="text-center"><a routerLink="/"><img src="assets\images\alemmedicusLogo2.png" alt="Logo" style="height: 80px;"></a></div>
            <div class="forgotPasswordContainer">
                <div class="text-center">
                    <form [formGroup]="frmPasswordReset" (submit)="sendPasswordResetEmail()">
                        <div>
                          <label class="inputLabel pb-3 pt-3">Email Address: </label>
                          <div class="control has-icons-left">
                           <input formControlName="email" type="email" class="emailInput">
                          </div>
                          <button [disabled]="frmPasswordReset.invalid" class="mt-3" [ngClass]="frmPasswordReset.invalid ? 'btn btn-outline-primary' : 'btn btn-primary'">
                            Send Email
                          </button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</section>
