.forgotPasswordContainer {
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
    height: 200px;
    background: #E6EEFF;
    border-radius: 25px;
}

@media only screen and (max-width: 600px) {
    .forgotPasswordContainer {
        width: 100%;
    }
}

.emailInput {
    width: 500px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #B6C2E2;
    border-radius: 6px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    text-indent: 10px;
}

.inputLabel {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 100%;
    left: 55px;
    top: 12px;
}

@media only screen and (max-width: 600px) {
    .emailInput {
        width: 80%;
    }
}